# Ignore Node.js modules
node_modules

# Ignore development-related files
.vscode
.next
__tests__
coverage

# Ignore build artifacts
out
.DS_Store

# Ignore environment-specific files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore Docker-related files
.dockerignore
Dockerfile
docker-compose.yml
.dockerignore
.dockerignore.example

# Ignore version control files
.git
.gitignore